.header{
    background-color: grey;
    min-height: 90px;
}

.hero{
    background-color: azure;
    min-height: 15px;
}

.container{
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.container > div{
    padding: 20px;
    margin: 15px;
    border: 1px solid black;
}